<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Budget App</a>

    <ul
      class="navbar-nav me-auto mb-2 mb-md-0"
      *ngIf="accountService.currentUser()"
    >
      <li class="nav-item">
        <a class="nav-link">Debits</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Credits</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Graphs-Charts</a>
      </li>
    </ul>

    <div class="dropdown" *ngIf="accountService.currentUser()" dropdown>
      <a dropdownToggle class="dropdown-toggle text-light text-decoration-none"
        >Welcome, User</a
      >
      <div *dropdownMenu class="dropdown-menu">
        <a class="dropdown-item">Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>

    <form
      #loginForm="ngForm"
      (ngSubmit)="login()"
      class="d-flex"
      *ngIf="!accountService.currentUser()"
    >
      <input
        id="username"
        class="form-control me-2"
        name="username"
        [(ngModel)]="model.username"
        placeholder="Username"
        autocomplete="off"
      />
      <input
        id="password"
        class="form-control me-2"
        name="password"
        [(ngModel)]="model.password"
        placeholder="Password"
        type="password"
        autocomplete="off"
      />
      <button class="btn btn-outline-success" type="submit">Login</button>
    </form>
  </div>
</nav>
